## 读取并预测新数据

In [2]:
from absenteeism_module import *

In [3]:
model = absenteeism_model('model', 'scaler')

In [4]:
model.load_and_clean_data('Absenteeism_new_data.csv')

In [5]:
df_new_obs = model.predicted_outputs()
df_new_obs.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pet,Probability,Prediction
0,False,0.0,False,True,6,179,30,19,1,0,0,0.122628,0
1,True,0.0,False,False,6,361,28,27,0,1,4,0.873087,1
2,False,0.0,False,True,6,155,34,25,0,2,0,0.266047,0
3,False,0.0,False,True,6,179,40,22,1,2,0,0.198937,0
4,True,0.0,False,False,6,155,34,25,0,2,0,0.720255,1

In [6]:
# 更改列名以和数据库一致
df_new_obs.columns = ['reason_1', 'reason_2', 'reason_3', 'reason_4', 'month_value',
       'transportation_expense', 'age', 'body_mass_index', 'education',
       'children', 'pet', 'probability', 'prediction']
df_new_obs.head()

,reason_1,reason_2,reason_3,reason_4,month_value,transportation_expense,age,body_mass_index,education,children,pet,probability,prediction
0,False,0.0,False,True,6,179,30,19,1,0,0,0.122628,0
1,True,0.0,False,False,6,361,28,27,0,1,4,0.873087,1
2,False,0.0,False,True,6,155,34,25,0,2,0,0.266047,0
3,False,0.0,False,True,6,179,40,22,1,2,0,0.198937,0
4,True,0.0,False,False,6,155,34,25,0,2,0,0.720255,1

In [7]:
# 数据类型转换，和数据库一致
df_new_obs['reason_2'] = df_new_obs['reason_2'].astype('bool')
df_new_obs['education'] = df_new_obs['education'].astype('bool')
df_new_obs['prediction'] = df_new_obs['prediction'].astype('bool')
df_new_obs.head()

,reason_1,reason_2,reason_3,reason_4,month_value,transportation_expense,age,body_mass_index,education,children,pet,probability,prediction
0,False,False,False,True,6,179,30,19,True,0,0,0.122628,False
1,True,False,False,False,6,361,28,27,False,1,4,0.873087,True
2,False,False,False,True,6,155,34,25,False,2,0,0.266047,False
3,False,False,False,True,6,179,40,22,True,2,0,0.198937,False
4,True,False,False,False,6,155,34,25,False,2,0,0.720255,True

In [8]:
# 检查点
df_ready = df_new_obs.copy()
df_ready.head()

,reason_1,reason_2,reason_3,reason_4,month_value,transportation_expense,age,body_mass_index,education,children,pet,probability,prediction
0,False,False,False,True,6,179,30,19,True,0,0,0.122628,False
1,True,False,False,False,6,361,28,27,False,1,4,0.873087,True
2,False,False,False,True,6,155,34,25,False,2,0,0.266047,False
3,False,False,False,True,6,179,40,22,True,2,0,0.198937,False
4,True,False,False,False,6,155,34,25,False,2,0,0.720255,True

## 将数据存储到MySql数据库中

In [10]:
from sqlalchemy import create_engine

In [11]:
# 创建数据库连接
engine = create_engine('mysql+pymysql://root:pohsap-5jeghy-Bevtej@localhost:3306/predicted_outputs')

In [12]:
# 插入数据
try:
    df_new_obs.to_sql('predicted_outputs', engine, if_exists='append', index=False)
    print("数据插入成功")
except Exception as e:
    print(f"数据插入失败: {e}")

数据插入成功

In [13]:
# 验证插入结果
result = pd.read_sql('SELECT * FROM predicted_outputs', engine)
print("查询到的数据前5行：")
print(result.head(5))

查询到的数据前5行：
  reason_1 reason_2 reason_3 reason_4  month_value  transportation_expense  \
0  b'\x00'  b'\x00'  b'\x00'  b'\x01'            6                     179
1  b'\x01'  b'\x00'  b'\x00'  b'\x00'            6                     361
2  b'\x00'  b'\x00'  b'\x00'  b'\x01'            6                     155
3  b'\x00'  b'\x00'  b'\x00'  b'\x01'            6                     179
4  b'\x01'  b'\x00'  b'\x00'  b'\x00'            6                     155

   age  body_mass_index education  children  pet  probability prediction
0   30               19   b'\x01'         0    0     0.122628    b'\x00'
1   28               27   b'\x00'         1    4     0.873087    b'\x01'
2   34               25   b'\x00'         2    0     0.266047    b'\x00'
3   40               22   b'\x01'         2    0     0.198937    b'\x00'
4   34               25   b'\x00'         2    0     0.720255    b'\x01'

In [14]:
# 断开与数据库的连接
engine.dispose()